@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply py-1 px-2 font-semibold focus:outline-none;
    }
  }

*
{
    font-family: 'Inter', sans-serif;
}
 @keyframes fadeInFromBottom {
     0% {
         opacity: 0;
         transform: translateY(20px);
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .fade-in {
     animation: fadeInFromBottom 0.5s ease-out forwards;
 }